@font-face {
  font-family: 'NotesEsa';
  font-style: normal;
  font-weight: 400;
  src: url('https://apex.esa.int/themes/custom/vitotheme/dist/fonts/NotesEsa.woff2') format('woff2'),
       url($notes_esa) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'NotesEsa';
  font-style: italic;
  font-weight: 400;
  src: url('https://apex.esa.int/themes/custom/vitotheme/dist/fonts/NotesEsa-Italic.woff2') format('woff2'),
       url($notes_esa_italic) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'NotesEsa';
  font-style: normal;
  font-weight: 700;
  src: url('https://apex.esa.int/themes/custom/vitotheme/dist/fonts/NotesEsa-Bold.woff2') format('woff2'),
       url($notes_esa_bold) format('woff2');
  font-display: swap;
} 
@font-face {
  font-family: 'NotesEsa';
  font-style: italic;
  font-weight: 700;
  src: url('https://apex.esa.int/themes/custom/vitotheme/dist/fonts/NotesEsa-BoldItalic.woff2') format('woff2'),
       url($notes_esa_bold_italic) format('woff2');
  font-display: swap;
}


:root {
    --font-family: "NotesEsa", system-ui, sans-serif;
    --heading-font-family: "NotesEsa", system-ui, sans-serif;
    
    --border-radius: 10px;
    
    --d-sidebar-background: transparent;
    --d-sidebar-admin-background: transparent;
    
    --d-button-border-radius: var(--border-radius); 
    --d-input-border-radius: var(--border-radius); 
    --d-input-border: 1px solid var(--primary);


    --primary-medium: var(--primary);
    --primary-med-or-secondary-high: var(--primary);
    --secondary-high: rgb(173, 189, 196);
    --secondary-ultrahigh: #f2f2f2;
    
    /* Fix for removing shadow in sidebar */
    --secondary-rgb: var(--primary);
    
    
    --border-color: rgba(255, 255, 255, 0.1);
    
    
    --apex-white: white;
    --apex-lightgreen: #00ae9d;
    --apex-darkblue: #003247;
    --apex-lightblue: #00619e;
    --apex-green: #008e7a;
    --apex-lightgreen: #00ae9d;
    --apex-yellow: #fbab18;
    --apex-orange: #f47920;
    --apex-body-bg: #043346;
    --apex-white: #fff;
    --apex-black: #000;
    --apex-light: #e7e7e7;
    --apex-greylight: #f3f7f8;
    --apex-stroke: #dcdcdc;
    --apex-underline: #ccd6da;
    --apex-darkblue-rgb: 0, 50, 71;
    --apex-lightblue-rgb: 0, 97, 158;
    --apex-green-rgb: 0, 142, 122;
    --apex-lightgreen-rgb: 0, 174, 157;
    --apex-yellow-rgb: 251, 171, 24;
    --apex-orange-rgb: 244, 121, 32;
    --apex-light-rgb: 231, 231, 231;
    --apex-text-4xl: 3.1875rem;
    --apex-text-3xl: 2.375rem;
    --apex-text-2xl: 1.75rem;
    --apex-text-xl: 1.5rem;
    --apex-text-lg: 1.25rem;
    --apex-text-base: 1.1rem;
    --apex-text-sm: 0.875rem;
    --apex-text-xs: 0.75rem;

    
}



//  PAGE

body {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: var(--font-family);
  font-size: 16px;
}

.blur-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.blur {
  position: absolute;
  width: 100vw;
  height: 2800px;
  right: 0;
  transform: translateY(-10%);
  z-index: -1;
  overflow: hidden;

  &::after {
    position: absolute;
    content: '';
    width: 1430px;
    aspect-ratio: 2;
    right: 0;
    top: 50%;
    transform: translateX(15%) translateY(-15%) rotate(-10deg);
    border-radius: 100%;
    mix-blend-mode: normal;
    filter: blur(336.075px);
    background-color: var(--tertiary);
    z-index: -1;
    opacity: var(--opacity);
  }
}


// TEXT

.title {
    color: var(--secondary) !important;
}

p, li {
    color: var(--secondary-high);
}

blockquote p, p kbd, li kbd, details li, details p, blockquote h1,  blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6{
    color: var(--primary);
}

blockquote {
    border-radius: var(--border-radius);
}

.sidebar-section-link-wrapper .sidebar-section-link:focus, .sidebar-section-link-wrapper .sidebar-section-link:hover {
    color: var(--primary) !important;
}
.sidebar-section-link-wrapper .sidebar-section-link  {
    color: var(--secondary-high) !important;
}

.sidebar-section-wrapper .sidebar-section-header, .admin-area .sidebar-wrapper .admin-panel .sidebar-section-header-text {
    color: var(--secondary) !important;
}

.sidebar-section-link-wrapper .sidebar-section-link.active {
    color: var(--tertiary) !important;
    background-color: transparent;
}

.topic-meta-data .post-info a, .timeline-container .topic-timeline .start-date, .timeline-container .topic-timeline .now-date  {
    color: var(--secondary) !important;
}
.topic-body .cooked details, details .d-editor-preview, details.details__boxed {
    color: var(--primary);
    border-radius: var(--border-radius);
}

.timeline-container .topic-timeline .timeline-ago {
    color: var(--secondary-high) !important;
}

.timeline-container .topic-timeline .timeline-handle {
    background-color: var(--tertiary);
}

span.chcklst-box.checked.fa-square-check-o:before, span.chcklst-box:not(.checked).fa-square-o:before {
    background-color: var(--secondary-high);
}

// CONTENT 

.highlighted {
  animation: none !important;
}

.topic-map.--op, .topic-list th,  .topic-list-item {
    border-color: var(--border-color);
}

.svg-icon, .svg-icon-title  {
    fill: var(--tertiary);
}

.badge-category__wrapper .badge-category__name {
    color: var(--secondary-high);
}

.select-kit-body .badge-category__wrapper .badge-category__name, 
.select-kit.combo-box.tag-drop   {
    color: var(--primary) !important;
}

.select-kit .d-icon {
    fill: var(--secondary) !important;
}

.color-picker .add-on {
    background-color: transparent;
    border: none;
}

.admin-customize .colors .description {
    color: var(--secondary-high);
}

.category-list tbody .category h3 a[href], .category-list tbody .category h4 a[href] {
    color: var(--secondary) !important;
}
.categories-list .category .category-description {
    color: var(--secondary-high) !important;
}
.list-cell, .category-list td, .category-list th, .table-heading, .latest-topic-list-item .topic-last-activity a, .latest-topic-list .posts-map, .top-topic-list .posts-map  {
    color: var(--secondary) !important;
}

.hashtag-cooked {
    background-color: var(--tertiary);
    color: var(--secondary);
}

nav.post-controls .actions button.create  {
    color: var(--secondary);
}


nav.post-controls .actions button:hover.create  {
    color: var(--tertiary);
}

#topic-footer-buttons .pinned-button .reason, #topic-footer-buttons .topic-notifications-button .reason {
    color: var(--secondary-high);
}
#topic-title h1 a {
    color: var(--secondary);    
}

.topic-map__contents .topic-map__stats.--single-stat button span, 
.topic-map .estimated-read-time, 
.topic-map .estimated-read-time span:first-child   {
    color: var(--secondary-high) !important;
}

.top-sub-section .topic-info {
    color: var(--secondary-high) !important;
}


.names>span a {
    color: var(--tertiary);
}

textarea {
    border-color: var(--primary);
}

.user-main .about.collapsed-info .details {
    border-bottom: none !important;
}

.new-user-wrapper .user-navigation {
    border: none !important;
}
.new-user-wrapper section.user-navigation {
    margin-bottom: .5rem;
    background-color: var(--tertiary);
    border-radius: var(--border-radius);
}

.new-user-wrapper section.user-navigation .nav-pills li a.active {
    background: var(--secondary) !important;
}

.archetype-private_message .topic-map {
    border-radius: var(--border-radius);
}



// BUTTONS
.btn-default {
    background-color: var(--tertiary);
    color: white !important;
}
.btn-default:hover {
    background-color: var(--tertiary-hover) !important;
}

.btn-primary .svg-icon, .svg-icon-title {
    fill: var(--secondary) !important;
}
.list-controls .combo-box .combo-box-header {
    background-color: var(--tertiary);
    color: white !important;
    border: none;
}

.select-kit.combo-box.tag-drop .tag-drop-header, .select-kit.combo-box.tag-drop .selected-name {
    color: white !important;
}

.combo-box svg, .btn-default svg {
    fill: white !important;
}

.uploaded-image-preview {
    background-color: var(--secondary-ultrahigh);
}


// TABLE

table th, .topic-list td, .latest-topic-list .table-heading, .top-topic-list .table-heading  {
    color: var(--secondary);
}

// NAVBAR
.nav-pills>li>a {
    color: var(--secondary);
}


// SIDEBAR

.sidebar-wrapper .sidebar-container { 
    border: none;
}

.sidebar-section-wrapper {
    border-bottom: 1px solid var(--border-color);
}

.sidebar-more-section-links-details-content {
    background-color: var(--secondary);
}
.sidebar-more-section-links-details-content span {
    color: var(--primary);
}
// CHAT

.chat-channel-row .chat-channel__metadata-date, .c-footer__item .d-button-label, .chat-message-text p {
    color: var(--primary);
}

// SEARCH

.search-menu .browser-search-tip, .search-menu .search-random-quick-tip, .search-menu-container .browser-search-tip, .search-menu-container .search-random-quick-tip, .search-menu .no-results {
    color: var(--primary);
}

.search-menu .results .label-suffix, .search-menu-container .results .label-suffix, 
.search-menu .results .extra-hint, .search-menu-container .results .extra-hint {
    color: var(--primary);
}

.search-menu .search-link:focus, .search-menu .search-link:hover, .search-menu-container .search-link:focus {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: var(--border-radius);
}

.search-menu-container .search-link:hover .label-suffix, .search-menu-container .search-link:hover .extra-hint {
    color: var(--secondary);
}

.search-menu .results .search-result-group .group-result .group-names, .search-menu-container .results .search-result-group .group-result .group-names {
    color: var(--primary);
}

.search-menu .results .search-result-group .search-link:hover .group-result .group-names, .search-menu-container .results .search-result-group .search-link:hover .group-result .group-names {
    color: var(--secondary);
}

// USER CONTENT

.user-content {
    padding: 1.5rem;
    border-radius: var(--border-radius);
}
.user-content p, 
.user-content label,
.user-content span, 
.user-content div,
.user-content legend{
    color: var(--primary);   
}

.user-content *:not(.d-editor-button-bar) > .btn {
    background-color: var(--tertiary);
    color: white !important;
}

.user-content *:not(.d-editor-button-bar) >  .btn:hover {
     background-color: var(--tertiary-hover) !important;
}

.user-content .d-editor-button-bar .btn:hover {
     background-color: var(--tertiary) !important;
}

.user-content .d-editor-button-bar .btn:hover .svg-icon{
     fill: var(--secondary) !important;
}


.user-content *:not(.d-editor-button-bar) > .btn .svg-icon, 
.user-content *:not(.d-editor-button-bar) > .btn .svg-icon-title {
    fill: var(--secondary) !important;
} 

.user-content *:not(.d-editor-button-bar) > .btn .d-button-label {
    color: var(--secondary) !important;
} 

.user-content h1, .user-content h2, .user-content h3, .user-content h4, .user-content h5, .user-content h6 {
    color: var(--primary);
}
.user-content .stats-section .label {
    color: var(--primary);
}

.user-content table th,
.user-content .topic-list td,
.user-content .title,
.user-content .user-stream .relative-date, .user-stream .delete-info, .user-stream .draft-type{
    color: var(--primary) !important;
}

.user-content .topic-list-item, 
.user-content tr,
.user-content tbody,
.user-content li,
.user-content .controls {
    border-color: var(--secondary-ultrahigh) !important;
}

.user-content summary {
    border-color: var(--primary) !important;
}

.user-content .select-kit.single-select.dropdown-select-box .select-kit-row .texts .desc,
.user-content.select-kit .select-kit-row.category-row .category-desc, 
.user-content .custom-message-length,
.user-content .instructions {
    color: var(--secondary-high);
}

.user-content .select-kit .d-icon{
    fill: var(--tertiary) !important;
}

// NOTIFICATIONS

.select-kit.dropdown-select-box.notifications-filter .notifications-filter-header .filter-text {
    color: var(--primary);
}

.select-kit.dropdown-select-box.notifications-filter .notifications-filter-header:hover .filter-text {
    color: var(--secondary);
}

.user-content .user-notifications-filter {
    margin-bottom: .5rem;
    border-bottom: none;
}

.user-menu .quick-access-panel, .user-notifications-list {
    border-color: var(--secondary-ultrahigh);
}


.user-info .user-detail .name-line>a,
.user-info .user-detail .title {
    color: var(--secondary);
}

.user-info .user-detail .details,
.user-info .user-detail .details .granted-on {
    color: var(--secondary-high);
}


// DIALOGS

#reply-control.open {
    border-radius: var(--border-radius);
}

.open .grippie {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

#reply-control .reply-area {
    padding: 1.5rem;
    
}

#reply-control .reply-to {
    color: var(--primary);
}

#reply-control .select-kit .d-icon {
    fill: var(--tertiary) !important;
}

#reply-control .select-kit.dropdown-select-box.composer-actions .select-kit-header {
    border: 1px solid var(--primary);
}

#reply-control .select-kit.dropdown-select-box.composer-actions .select-kit-header:hover, 
.select-kit.dropdown-select-box.composer-actions .select-kit-header:focus {
    background-color: var(--primary);
}

#reply-control .select-kit.dropdown-select-box.composer-actions .select-kit-header:hover .d-icon , 
.select-kit.dropdown-select-box.composer-actions .select-kit-header:focus .d-icon  {
    fill: var(--secondary) !important;
}

#reply-control .select-kit.single-select.dropdown-select-box .select-kit-row .texts .desc,
#reply-control .select-kit .select-kit-row.category-row .category-desc {
    color: var(--secondary-high);
}

#reply-control .select-kit.combo-box .select-kit-header,
#reply-control .select-kit.multi-select .multi-select-header,
#reply-control .d-editor-textarea-wrapper {
    border-color: var(--primary);
}

#reply-control .select-kit.combo-box.category-chooser .select-kit-row .topic-count {
    color: var(--tertiary);
}

#reply-control .tags-input .mini-tag-chooser .select-kit-header {
    color: var(--primary);
}

#reply-control .d-editor-preview, 
#reply-control .d-editor-preview p, 
#reply-control .d-editor-preview li {
    color: var(--primary) !important;
}
#reply-control .save-or-cancel .cancel {
    color: var(--tertiary);
}

#reply-control .composer-popup {
    background-color: var(--secondary-ultrahigh);
}

#reply-control .composer-popup p,
#reply-control .composer-popup li {
  color: var(--primary);   
}



.d-modal__container {
    border-radius: var(--border-radius);
    padding: .5rem 0.25rem;
}

.d-modal__container, 
.d-modal__container p , 
.d-modal__container li, 
.d-modal__container label {
    color: var(--primary);
}

.d-modal__container .select-kit.single-select.dropdown-select-box .select-kit-row .texts .desc,
.d-modal__container .select-kit .select-kit-row.category-row .category-desc, 
.d-modal__container .custom-message-length{
    color: var(--secondary-high);
}

.d-modal__container input,
.d-modal__container summary {
    border-color: var(--primary) !important;
    color: var(--primary) !important;
}

.d-modal__container .select-kit .d-icon{
    fill: var(--tertiary) !important;
}


.fk-d-menu__inner-content {
 color: var(--primary) !important;
}
  



// BADGES

.badge-card {
    border-radius: var(--border-radius);
}

// FILTERS

.reviewable-filters {
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    color: var(--primary);
}

.reviewable-filters label {
    color: var(--primary);
}

.reviewable-filters summary {
    border-color: var(--primary) !important;
}
.reviewable-filters .select-kit-collection::-webkit-scrollbar-thumb {
    background-color: var(--tertiary) !important;
}

// ADMIN

.boxed.white.admin-content {
    color: var(--primary);
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius);
}

.admin-content summary {
    padding: .5rem !important;
}
.admin-content summary.single-select-header:hover span{
    color: var(--secondary) !important;
}


.admin-content label,
.admin-content p,
.admin-content li,
.admin-content *:not(.btn) > span{
    color: var(--primary);
}
.admin-content .btn:not(.btn-danger):not(.tab) {
    background-color: var(--tertiary);
    color: white !important;
}
.admin-content .btn .svg-icon{
     fill: var(--secondary) !important;
}

.admin-content .btn:not(.btn-danger):not(.tab):hover {
     background-color: var(--tertiary-hover) !important;
}

.admin-controls {
    margin-bottom: 0.5rem;
}


.admin-controls,
.admin-controls .controls {
     background-color: var(--primary);
     border-radius: var(--border-radius);

}

.admin-controls label {
    color: var(--secondary) !important;
}

.admin-controls .nav-pills {
    padding: 0.25rem 0.5rem !important;
}

.admin-controls .nav-pills>li> a:hover {
    background-color: var(--secondary);
    color: var(--tertiary) !important;
}

.admin-controls nav{
    background-color: var(--primary);
    border-radius: var(--border-radius);
    padding: .25rem 0.5rem;
    color: var(--secondary);
}

.admin-controls nav li a  {
    border-radius: var(--border-radius);
    color: var(--secondary) !important;
}

.admin-controls nav::before,
.admin-controls nav::after {
    display: none;
}

.admin-controls nav li a.active {
    border-bottom: none;
    color: var(--secondary);
}

.admin-content summary {
    border-color: var(--primary) !important;
}
.admin-detail,
.admin-content .nav-stacked li{
    border-color: var(--secondary-ultrahigh);
}

.settings .setting.overridden.string input[type=text], 
.settings .setting.overridden.string input[type=password], 
.settings .setting.overridden.string textarea {
    background-color: var(--tertiary-low);
}


// USER DIRECTORY

.users-directory h2 span {
    color: var(--secondary) !important;
}

.users-directory label,
.users-directory div {
    color: var(--secondary-high) !important;
}

.users-directory .directory-table__cell {
    background-color: transparent;
    color: var(--secondary);
}

.users-directory .directory-table__cell span {
    color: var(--secondary) !important;
}

.users-directory .me .directory-table__cell {
    background-color: var(--tertiary-low) !important;
    color: var(--primary) !important;
}
.users-directory .me .directory-table__cell span {
   color: var(--primary) !important;
}

// GROUPS

.group-box,
.group-details-container,
.user-content-wrapper {
    border-radius: var(--border-radius);
    background-color: var(--secondary);
    border: none !important;
}
.group-box  div {
    color: var(--primary) !important;
}

.admin-group-automatic-tooltip {
    background-color: var(--primary);
}

.group-details-container hr {
    border-color: var(--secondary-ultrahigh);
}

.user-content-wrapper {
    padding: 1rem;
    margin-bottom: 2rem;
    width: calc(100% - 2rem);
}

.user-content-wrapper span,
.user-content-wrapper .nav-pills>li>a {
    color: var(--primary);
}

.user-content-wrapper .select-kit.combo-box .select-kit-header {
    border-color: var(--primary) !important;
    color: var(--primary) !important;
}


.user-content-wrapper .select-kit .select-kit-collection::-webkit-scrollbar-thumb {
    background-color: var(--tertiary);
}

.user-content-wrapper .user-content {
    margin-top: 0;
    border-left: 1px solid var(--secondary-ultrahigh);
}

.user-content-wrapper .user-secondary-navigation li {
    border-bottom:  1px solid var(--secondary-ultrahigh);
}

.user-content-wrapper .user-stream-item {
    border-color: var(--secondary-ultrahigh);
}

// CATEGORIES

.sidebar-categories-form .sidebar-categories-form__row {
    border-top-color: var(--secondary-ultrahigh) !important;
    border-bottom-color: var(--secondary-ultrahigh) !important;
    border-right-color: var(--secondary-ultrahigh) !important;
}

.sidebar-categories-form .badge-category__name {
    color: var(--primary) !important;
}
.sidebar-categories-form .sidebar-categories-form__category-description {
     color: var(--secondary-high) !important;
}

div.edit-category  {
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    color: var(--primary);
    padding: .25rem 0.5rem;
}

.edit-category .edit-category-title-bar {
    background-color: transparent !important;
}

.edit-category .select-kit-header .badge-category__wrapper .badge-category__name,
.edit-category label {
    color: var(--primary);
}

.edit-category *:not(.d-editor-button-bar) > .btn:not(.btn-danger) {
    background-color: var(--tertiary);
    color: white !important;
}

.edit-category *:not(.d-editor-button-bar) >  .btn:not(.btn-danger):hover {
     background-color: var(--tertiary-hover) !important;
}

.edit-category .d-editor-button-bar .btn:hover {
     background-color: var(--tertiary) !important;
}

.edit-category .d-editor-button-bar .btn:hover .svg-icon{
     fill: var(--secondary) !important;
}


.edit-category *:not(.d-editor-button-bar) > .btn .svg-icon, 
.edit-category *:not(.d-editor-button-bar) > .btn .svg-icon-title {
    fill: var(--secondary) !important;
} 

.edit-category *:not(.d-editor-button-bar) > .btn .d-button-label {
    color: var(--secondary) !important;
} 
.edit-category .edit-category-content {
    padding-left: 1rem;
    border-left: 1px solid var(--secondary-ultrahigh);
}

.edit-category .nav > li {
    border-bottom:  1px solid var(--secondary-ultrahigh);
}

.edit-category .nav > li > a:hover {
    background-color: var(--primary-low);
}


.edit-category summary,
.edit-category input {
    border-color: var(--primary) !important;
}


// THEMES

.themes-list-header {
    border: none !important;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    padding: .5rem;
    margin-bottom: 1rem;
}

.themes-list-header .btn {
    border-radius: var(--border-radius) !important;
}


.themes-list-header .btn span {
    color: var(--secondary);
}

.themes-list-header .btn .svg-icon {
    fill: var(--secondary) !important;
}


.themes-list-header .btn:hover {
    background-color: var(--secondary) !important;
    
}

.themes-list-header .btn:hover span {
    color: var(--primary);
}

.themes-list-header .btn:hover .svg-icon {
     fill: var(--primary) !important;
}

.themes-list-container {
     border-radius: var(--border-radius);
     border-bottom-right-radius: var(--border-radius) !important;
     border-bottom-left-radius: var(--border-radius) !important;
     border: 1px solid var(--secondary-ultrahigh);
     border-color: var(--secondary-ultrahigh) !important;
}

.themes-list-container .themes-list-container__item {
    border-color: var(--secondary-ultrahigh) !important;
}

.themes-list-container .themes-list-container__item.inactive-indicator {
    background-color: var(--secondary-ultrahigh) !important;
}

.themes-list-container .themes-list-container__item.inactive-indicator .btn {
    background-color: transparent !important;
}
.themes-list-container .themes-list-container__item.inactive-indicator .btn .svg-icon {
    fill: var(--primary) !important;
}


// APEX HEADER

.visually-hidden {
  display: none;
}

.apex-header-container {
  margin: auto;
  width: calc(var(--d-sidebar-width) + var(--d-max-width));
}

.c-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.2rem;
  padding: 0.75rem;
  aspect-ratio: 1;
  cursor: pointer;
}
@media (min-width: 992px) {
  .c-hamburger {
    display: none;
  }
}
.c-header__navigate .c-hamburger {
  display: none;
}
@media (min-width: 576px) {
  .c-header__navigate .c-hamburger {
    display: flex;
  }
}
@media (min-width: 992px) {
  .c-header__navigate .c-hamburger {
    display: none;
  }
}
.c-header__bottom .c-hamburger {
  display: flex;
}
@media (min-width: 576px) {
  .c-header__bottom .c-hamburger {
    display: none;
  }
}
.c-hamburger span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: var(--apex-white);
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}
.has-hamburger-open .c-hamburger span:nth-child(2) {
  opacity: 0;
}
.has-hamburger-open .c-hamburger span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.has-hamburger-open .c-hamburger span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.c-hamburger__wrapper {
  display: block;
  align-self: stretch;
}
@media (min-width: 576px) {
  .c-hamburger__wrapper {
    display: none;
  }
}

.c-header {
  position: relative;
  padding-block: 0.5rem;
  z-index: 2;
}

.c-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.375rem;
  border-block-end: 2px solid var(--apex-lightgreen);
}

.c-header__navigate {
  display: flex;
  align-items: center;
}

.c-header__search {
  margin-inline: 0.5rem 1.5rem;
  cursor: pointer;
}
@media (min-width: 576px) {
  .c-header__search {
    margin-inline: 1.25rem 1.5rem;
  }
}
@media (min-width: 992px) {
  .c-header__search {
    margin-inline: 0.5rem 1.5rem;
  }
}
.c-header__search img {
  width: 1.25rem;
  height: 1.25rem;
}
.c-header__search form {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.2);
  cursor: default;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.c-header__search form.open {
  opacity: 1;
  pointer-events: all;
}
.c-header__search form input {
  height: auto;
  width: 90%;
}
@media (min-width: 576px) {
  .c-header__search form input {
    width: 50%;
    min-width: 600px;
  }
}

.c-header__search-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.c-header__esa-text img {
  width: 10rem;
  height: 0.75rem;
  object-fit: contain;
}
@media (min-width: 768px) {
  .c-header__esa-text img {
    width: 14rem;
    height: 0.75rem;
  }
}

.c-header__esa img {
  width: 4.25rem;
  height: 1.5rem;
  object-fit: contain;
}
@media (min-width: 768px) {
  .c-header__esa img {
    width: 5.75rem;
    height: 2rem;
  }
}

.c-header__bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-block-end: 1px solid rgba(255, 255, 255, 0.1);
  padding-block: 2rem;
}
@media (min-width: 992px) {
  .c-header__bottom {
    padding-block: 0;
  }
}

.c-header__logo {
  font-size: var(--apex-text-xl);
  color: var(--apex-white);
  text-decoration: none;
}

.c-header__logo span {
  display: block;
  font-size: var(--apex-text-base);
  color: var(--apex-white);
  opacity: 0.5;
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .c-header__logo {
    font-size: var(--apex-text-2xl);
  }
}
@media (min-width: 992px) {
  .c-header__logo {
    font-size: var(--apex-text-3xl);
  }
}

.c-header__nav {
  display: none;
}
@media (min-width: 992px) {
  .c-header__nav {
    display: block;
  }
}
.c-header__nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.c-header__nav a.menu-link {
  position: relative;
  display: block;
  padding-inline: 1rem;
  padding-block: 3.25rem;
  color: var(--apex-white);
  font-size: var(--apex-text-base);
  font-weight: 400;
  text-decoration: none;
}
.c-header__nav li.has-children > a {
  position: relative;
  padding-inline-end: 1.25rem;
}
.c-header__nav li.has-children > a::after {
  position: absolute;
  content: "";
  width: 1.1rem;
  height: 1.1rem;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-image: url("https://apex.esa.int/themes/custom/vitotheme/dist/img/icons/icon-caret-down-blue.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.c-header__nav li.has-children > a:hover::after {
  transform: translateY(-50%) scaleY(-1);
}

.c-header__contact {
  display: none;
}
@media (min-width: 576px) {
  .c-header__contact {
    display: block;
  }
}

.c-footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 6rem;
  border-block-start: 1px solid rgba(255, 255, 255, 0.2);
}

.c-footer__left {
  width: 100%;
}
@media (min-width: 992px) {
  .c-footer__left {
    width: auto;
  }
}

.c-footer__logo {
  font-size: var(--apex-text-xl);
  color: var(--apex-white);
  text-decoration: none;
}
@media (min-width: 768px) {
  .c-footer__logo {
    font-size: var(--apex-text-2xl);
  }
}
@media (min-width: 992px) {
  .c-footer__logo {
    font-size: var(--apex-text-3xl);
  }
}

.c-footer__baseline {
  color: var(--apex-white);
  line-height: 1.2;
  margin-block: 1rem;
  opacity: 0.5;
}

.c-footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 2rem;
}

.c-footer__right {
  width: 100%;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .c-footer__right {
    display: flex;
    margin-top: 5rem;
  }
}
@media (min-width: 992px) {
  .c-footer__right {
    width: auto;
    justify-content: flex-end;
    margin-top: 0;
  }
}

.c-footer__menu {
  position: relative;
  padding-inline: 2rem 4rem;
  padding-block-end: 1rem;
  margin-block-end: 2rem;
}
@media (min-width: 768px) {
  .c-footer__menu {
    padding-block-end: 0;
    margin-block-end: 0;
  }
}
@media (min-width: 1200px) {
  .c-footer__menu {
    padding-inline: 3rem 9rem;
  }
}
.c-footer__menu::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    0,
    transparent 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
}
.c-footer__menu:last-child {
  padding-inline-end: 0;
}
.c-footer__menu span {
  display: block;
  font-size: var(--apex-text-xs);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  opacity: 0.5;
  letter-spacing: 0.15rem;
  margin-block-end: 2rem;
}
.c-footer__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.c-footer__menu li {
  margin-block-end: 1rem;
}
.c-footer__menu a {
  position: relative;
  padding-block: 0.2rem;
  color: var(--apex-white);
  font-weight: 400;
  text-decoration: none;
}
.c-footer__menu a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0.2rem;
  left: 0;
  background-color: var(--apex-white);
  transition: background-color 0.3s;
}
.c-footer__menu a:hover::before {
  background-color: transparent;
}
.c-footer__menu a[target="_blank"] {
  display: inline-flex;
  align-items: center;
}
.c-footer__menu a[target="_blank"]::before {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.4);
  bottom: 0;
}
.c-footer__menu a[target="_blank"]::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: url("https://apex.esa.int/themes/custom/vitotheme/dist/img/icons/icon-arrow-upright.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-inline-start: 0.5rem;
}
.c-footer__menu a[target="_blank"]:hover::before {
  background-color: transparent;
}

.c-footer__legal {
  margin-bottom: 2rem;
}
.c-footer__legal ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.c-footer__legal li {
  margin-inline-end: 1rem;
}
.c-footer__legal a {
  font-size: var(--apex-text-xs);
  color: var(--apex-white);
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.c-footer__legal a:hover {
  opacity: 1;
}
.c-footer__legal ul {
  display: flex;
  align-items: left;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar {
  --apex-bs-navbar-padding-x: 0;
  --apex-bs-navbar-padding-y: 0.5rem;
  --apex-bs-navbar-color: rgba(var(--apex-bs-emphasis-color-rgb), 0.65);
  --apex-bs-navbar-hover-color: rgba(var(--apex-bs-emphasis-color-rgb), 0.8);
  --apex-bs-navbar-disabled-color: rgba(var(--apex-bs-emphasis-color-rgb), 0.3);
  --apex-bs-navbar-active-color: rgba(var(--apex-bs-emphasis-color-rgb), 1);
  --apex-bs-navbar-brand-padding-y: 0.3125rem;
  --apex-bs-navbar-brand-margin-end: 1rem;
  --apex-bs-navbar-brand-font-size: 1.25rem;
  --apex-bs-navbar-brand-color: rgba(var(--apex-bs-emphasis-color-rgb), 1);
  --apex-bs-navbar-brand-hover-color: rgba(
    var(--apex-bs-emphasis-color-rgb),
    1
  );
  --apex-bs-navbar-nav-link-padding-x: 0.5rem;
  --apex-bs-navbar-toggler-padding-y: 0.25rem;
  --apex-bs-navbar-toggler-padding-x: 0.75rem;
  --apex-bs-navbar-toggler-font-size: 1.25rem;
  --apex-bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --apex-bs-navbar-toggler-border-color: rgba(
    var(--apex-bs-emphasis-color-rgb),
    0.15
  );
  --apex-bs-navbar-toggler-border-radius: var(--apex-bs-border-radius);
  --apex-bs-navbar-toggler-focus-width: 0.25rem;
  --apex-bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--apex-bs-navbar-padding-y) var(--apex-bs-navbar-padding-x);
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  padding-top: var(--apex-bs-navbar-brand-padding-y);
  padding-bottom: var(--apex-bs-navbar-brand-padding-y);
  margin-right: var(--apex-bs-navbar-brand-margin-end);
  font-size: var(--apex-bs-navbar-brand-font-size);
  color: var(--apex-bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}
.navbar-brand:focus,
.navbar-brand:hover {
  color: var(--apex-bs-navbar-brand-hover-color);
}
.navbar-nav {
  --apex-bs-nav-link-padding-x: 0;
  --apex-bs-nav-link-padding-y: 0.5rem;
  --apex-bs-nav-link-font-weight: ;
  --apex-bs-nav-link-color: var(--apex-bs-navbar-color);
  --apex-bs-nav-link-hover-color: var(--apex-bs-navbar-hover-color);
  --apex-bs-nav-link-disabled-color: var(--apex-bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--apex-bs-navbar-active-color);
}
.navbar-nav .dropdown-menu {
  position: static;
}
.navbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--apex-bs-navbar-color);
}
.navbar-text a,
.navbar-text a:focus,
.navbar-text a:hover {
  color: var(--apex-bs-navbar-active-color);
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-toggler {
  padding: var(--apex-bs-navbar-toggler-padding-y)
    var(--apex-bs-navbar-toggler-padding-x);
  font-size: var(--apex-bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--apex-bs-navbar-color);
  background-color: transparent;
  border: var(--apex-bs-border-width) solid
    var(--apex-bs-navbar-toggler-border-color);
  border-radius: var(--apex-bs-navbar-toggler-border-radius);
  transition: var(--apex-bs-navbar-toggler-transition);
}
@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 var(--apex-bs-navbar-toggler-focus-width);
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--apex-bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.navbar-nav-scroll {
  max-height: var(--apex-bs-scroll-height, 75vh);
  overflow-y: auto;
}
@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: var(--apex-bs-navbar-nav-link-padding-x);
    padding-left: var(--apex-bs-navbar-nav-link-padding-x);
  }
  .navbar-expand-sm .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
  .navbar-expand-sm .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }
  .navbar-expand-sm .offcanvas .offcanvas-header {
    display: none;
  }
  .navbar-expand-sm .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}
@media (min-width: 768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: var(--apex-bs-navbar-nav-link-padding-x);
    padding-left: var(--apex-bs-navbar-nav-link-padding-x);
  }
  .navbar-expand-md .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
  .navbar-expand-md .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }
  .navbar-expand-md .offcanvas .offcanvas-header {
    display: none;
  }
  .navbar-expand-md .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--apex-bs-navbar-nav-link-padding-x);
    padding-left: var(--apex-bs-navbar-nav-link-padding-x);
  }
  .navbar-expand-lg .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }
  .navbar-expand-lg .offcanvas .offcanvas-header {
    display: none;
  }
  .navbar-expand-lg .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-xl {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: var(--apex-bs-navbar-nav-link-padding-x);
    padding-left: var(--apex-bs-navbar-nav-link-padding-x);
  }
  .navbar-expand-xl .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-xl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
  .navbar-expand-xl .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }
  .navbar-expand-xl .offcanvas .offcanvas-header {
    display: none;
  }
  .navbar-expand-xl .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}
@media (min-width: 1400px) {
  .navbar-expand-xxl {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-xxl .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-xxl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xxl .navbar-nav .nav-link {
    padding-right: var(--apex-bs-navbar-nav-link-padding-x);
    padding-left: var(--apex-bs-navbar-nav-link-padding-x);
  }
  .navbar-expand-xxl .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-xxl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-xxl .navbar-toggler {
    display: none;
  }
  .navbar-expand-xxl .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }
  .navbar-expand-xxl .offcanvas .offcanvas-header {
    display: none;
  }
  .navbar-expand-xxl .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}
.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.navbar-expand .navbar-nav {
  flex-direction: row;
}
.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}
.navbar-expand .navbar-nav .nav-link {
  padding-right: var(--apex-bs-navbar-nav-link-padding-x);
  padding-left: var(--apex-bs-navbar-nav-link-padding-x);
}
.navbar-expand .navbar-nav-scroll {
  overflow: visible;
}
.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}
.navbar-expand .navbar-toggler {
  display: none;
}
.navbar-expand .offcanvas {
  position: static;
  z-index: auto;
  flex-grow: 1;
  width: auto !important;
  height: auto !important;
  visibility: visible !important;
  background-color: transparent !important;
  border: 0 !important;
  transform: none !important;
  transition: none;
}
.navbar-expand .offcanvas .offcanvas-header {
  display: none;
}
.navbar-expand .offcanvas .offcanvas-body {
  display: flex;
  flex-grow: 0;
  padding: 0;
  overflow-y: visible;
}
.navbar-dark,
.navbar[data-bs-theme="dark"] {
  --apex-bs-navbar-color: rgba(255, 255, 255, 0.55);
  --apex-bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --apex-bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --apex-bs-navbar-active-color: #fff;
  --apex-bs-navbar-brand-color: #fff;
  --apex-bs-navbar-brand-hover-color: #fff;
  --apex-bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
  --apex-bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
[data-bs-theme="dark"] .navbar-toggler-icon {
  --apex-bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.c-sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  display: flex;
  transform: translateY(2.5rem);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

  border-radius: 0.5rem;
  color: var(--apex-darkblue);
  box-shadow: 0.15rem 0.15rem 1.6rem 0.5rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 9999;

  li.has-children:hover > & {
    transform: none;
    opacity: 1;
    pointer-events: all;
  }
}
.c-header__nav li.has-children:has(.c-sub-menu--basic) {
  position: relative;
}
.c-sub-menu.c-sub-menu--basic {
  width: auto;
  background-color: var(--apex-white);
  left: 50%;
  transform: translateX(-50%) translateY(2.5rem);
  margin-inline: auto;
  display: inline-block;
  min-width: 125px;
}
.c-sub-menu.c-sub-menu--basic ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1rem;
  gap: 0.5rem;
}
.c-sub-menu.c-sub-menu--basic a {
  display: block;
  width: max-content;
  padding: 0.25rem 0;
  text-decoration: none;
  color: var(--apex-darkblue) !important;
  &[target="_blank"] {
    display: inline-flex;
    align-items: center;

    &::before {
      height: 2px;
      background-color: rgba(255, 255, 255, 0.4);
      bottom: 0;
    }

    &::after {
      content: "";
      display: block;
      width: 1rem;
      height: 1rem;
      background-image: url("https://apex.esa.int/themes/custom/vitotheme/dist/img/icons/icon-arrow-upright-green.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-inline-start: 0.5rem;
    }

    &:hover::before {
      background-color: transparent;
    }
  }
}
.c-sub-menu.c-sub-menu--basic a:hover {
  color: var(--apex-lightblue);
}
li.has-children:hover > .c-sub-menu {
  transform: none;
  opacity: 1;
  pointer-events: all;
}
li.has-children:hover > .c-sub-menu.c-sub-menu--basic {
  transform: translateX(-50%);
}

.c-sub-menu__left {
  background-color: var(--apex-greylight);
  padding: 4.5rem 2.5rem;
  width: 270px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h4 {
    margin-block-end: 2rem;
  }
}

.c-sub-menu__all a {
  color: var(--apex-darkblue) !important;
  text-decoration-color: var(--apex-lightblue);
}

.c-sub-menu__topics {
  flex-grow: 1;
  h5 {
    cursor: pointer;
    padding-block: 2rem;

    &:hover {
      color: var(--apex-lightblue);
    }
  }

  h5:not(:last-child) {
    border-block-end: 1px solid var(--apex-stroke);
  }
}

.c-sub-menu__right {
  display: grid;
  background-color: var(--apex-white);
  padding: 4.5rem 2.5rem;
  width: 100%;
}

.c-sub-menu__content {
  grid-row: 1 / -1;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: max-content;
  gap: 1rem;

  transition: all 0.3s;

  h4 {
    grid-column: span 12;
    margin-block-end: 2rem;
  }

  &[aria-hidden="true"] {
    opacity: 0;
    pointer-events: none;
    transform: translateY(2.5rem);
  }
}

.c-sub-menu__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  padding: 1rem 1.5rem 1.5rem;

  grid-column: span 4;

  background-color: var(--apex-greylight);
  border-radius: 0.25rem;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0.15rem 0.15rem 0.6rem rgba(0, 0, 0, 0.15);
  }

  img {
    width: 2.5rem;
    aspect-ratio: 1;
  }

  h6 {
    margin-block-end: 0;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--apex-bs-heading-color);
    a {
      color: var(--apex-bs-heading-color) !important;
    }
  }

  a {
    text-decoration: none;
    position: static;
    padding: 0;
    font-size: 1.125rem;
    font-weight: 400;
  }

  p {
    margin-block-end: 0;
    opacity: 0.5;
  }
}

@media (min-width: 1200px) {
  .c-sub-menu__item {
    grid-column: span 3;
  }
}

.d-header {
    box-shadow: none !important;
    margin-top: 1rem;
}